.checkout-page{
    display: flex;
    justify-content: center;
    padding: 1%;
    gap: 25px;
}

.checkout-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.checkout-header{
    display: flex;
    flex-direction: column;
    gpa: 10px;
}

.checkout-main{
    display: flex;
    flex-direction: column;
    gap: 10px
}